# Feature selection

In [113]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [114]:
data_frame=pd.read_csv('new_test_data.csv')
data_frame.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.258993,0.0,0.452723,0.000,0.000000,0.262431,0.015282,0.0,2
1,1.0,0.412470,1.0,0.617566,0.125,0.000000,0.718232,0.013663,0.0,0
2,0.5,0.407674,0.0,0.815377,0.000,0.000000,0.337017,0.018909,0.0,2
3,1.0,0.136691,0.0,0.353818,0.000,0.000000,0.414365,0.016908,0.0,0
4,1.0,0.743405,1.0,0.287881,0.125,0.111111,0.439227,0.023984,0.0,0

In [115]:
x=data_frame.iloc[:,1:]
y=data_frame.iloc[:,0]

In [116]:
model=SelectFromModel(Lasso(alpha=0.001,random_state=0))

In [117]:
model.fit(x,y)

SelectFromModel(estimator=Lasso(alpha=0.001, random_state=0))

In [118]:
features_to_select=[]
for i,j in zip(x.columns,model.get_support()):
    if j==True:
        features_to_select.append(i)

In [119]:
features_to_select

['Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [120]:
final_data_frame=data_frame[features_to_select]
final_data_frame['Survived']=y

In [121]:
final_data_frame.head()

,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0.258993,0.0,0.452723,0.000,0.000000,0.262431,0.015282,0.0,2,1.0
1,0.412470,1.0,0.617566,0.125,0.000000,0.718232,0.013663,0.0,0,1.0
2,0.407674,0.0,0.815377,0.000,0.000000,0.337017,0.018909,0.0,2,0.5
3,0.136691,0.0,0.353818,0.000,0.000000,0.414365,0.016908,0.0,0,1.0
4,0.743405,1.0,0.287881,0.125,0.111111,0.439227,0.023984,0.0,0,1.0

In [122]:
final_data_frame.to_csv('final_test_data.csv',index=False)