# Model training

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [20]:
data_frame_train=pd.read_csv('final_train_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'final_data.csv'

In [6]:
data_frame_test.head()

,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0.258993,0.0,0.452723,0.000,0.000000,0.262431,0.015282,0.0,2,1.0
1,0.412470,1.0,0.617566,0.125,0.000000,0.718232,0.013663,0.0,0,1.0
2,0.407674,0.0,0.815377,0.000,0.000000,0.337017,0.018909,0.0,2,0.5
3,0.136691,0.0,0.353818,0.000,0.000000,0.414365,0.016908,0.0,0,1.0
4,0.743405,1.0,0.287881,0.125,0.111111,0.439227,0.023984,0.0,0,1.0

In [7]:
#converting Survived feature from float to int.
data_frame_train['Survived']=data_frame_train['Survived'].astype(int)
data_frame_test['Survived']=data_frame_test['Survived'].astype(int)

In [ ]:
['PClass','Sex','Age']

In [8]:
data_frame_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin,Embarked,Survived
0,1.0,0.902247,0.0,0.271174,0.125,0.0,0.411765,0.000000,0,0
1,0.0,0.513483,1.0,0.472229,0.125,0.0,0.450000,0.789116,1,1
2,1.0,0.889888,1.0,0.321438,0.000,0.0,0.775000,0.000000,0,1
3,0.0,0.988764,1.0,0.434531,0.125,0.0,0.110294,0.108844,0,1
4,1.0,0.841573,0.0,0.434531,0.000,0.0,0.372059,0.000000,0,0

In [9]:
data_frame_test.head()

,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0.258993,0.0,0.452723,0.000,0.000000,0.262431,0.015282,0.0,2,1
1,0.412470,1.0,0.617566,0.125,0.000000,0.718232,0.013663,0.0,0,1
2,0.407674,0.0,0.815377,0.000,0.000000,0.337017,0.018909,0.0,2,0
3,0.136691,0.0,0.353818,0.000,0.000000,0.414365,0.016908,0.0,0,1
4,0.743405,1.0,0.287881,0.125,0.111111,0.439227,0.023984,0.0,0,1

In [16]:
x_train=data_frame_train[['Embarked','Sex','Age']]
y_train=data_frame_train.iloc[:,-1]
x_test=data_frame_test[['Embarked','Sex','Age']]
y_test=data_frame_test.iloc[:,-1]

In [11]:
#trainging the data.
model=LogisticRegression()
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [18]:
model.fit(x_train,y_train)

LogisticRegression()

In [19]:
model.score(x_test,y_test)

0.45933014354066987

In [106]:
y_pred=model.predict(x)

In [107]:
#checking out the confusion matrix
from sklearn.metrics import confusion_matrix,classification_report

In [108]:
confusion_matrix(y,y_pred)

array([[473,  76],
       [102, 240]])

In [109]:
#checking for test data.
test_data=pd.read_csv('final_test_data.csv')
test_data.head()

,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0.258993,0.0,0.452723,0.000,0.000000,0.262431,0.015282,0.0,2,1.0
1,0.412470,1.0,0.617566,0.125,0.000000,0.718232,0.013663,0.0,0,1.0
2,0.407674,0.0,0.815377,0.000,0.000000,0.337017,0.018909,0.0,2,0.5
3,0.136691,0.0,0.353818,0.000,0.000000,0.414365,0.016908,0.0,0,1.0
4,0.743405,1.0,0.287881,0.125,0.111111,0.439227,0.023984,0.0,0,1.0

In [110]:
x_test=data_frame.iloc[:,:-1]
y_test=data_frame.iloc[:,-1]

In [111]:
model.fit(x_test,y_test)

LogisticRegression()

In [112]:
model.score(x_test,y_test)

0.8002244668911336

In [113]:
predicted_y=model.predict(x_test)

In [114]:
confusion_matrix(y_test,predicted_y)

array([[473,  76],
       [102, 240]])